{% extends 'base.html' %}
{% block title %}Пользователь (ирония){% endblock %}
{% block content %}

    <h3>{{ user.username }}</h3>
    Телефон: <a href="#" id="link">Показать телефон</a> <span id="phone">{{ userinfo.phone }}</span><br>
    Фото: {{ usernfo.photo }} <br>
    Друзья: {{ userinfo.friends }} <br>
    <a href="{% url 'webapp:user_update' user.pk %}" class="nav-link">Редактировать</a>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
    $(document).ready(function() {
        $("#phone").hide();
        $("#link").click(function () {
            $("#link").hide();
            $("#phone").show();
        });
    });
    </script>
{% endblock %}